@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noticia+Text&display=swap");
body {
  background-color: #f0f5fe;
  font-family: "Montserrat", sans-serif;
}

.begin-inner-top {
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: max-content;
  font-size: 1rem;
  border: 1px solid #e0e0e0;
}

.begin-inner-top ul li {
  padding-block-start: 1rem;
}
.begin-inner-top button {
  background-color: #f0f5fe;
  border: 1px solid #e0e0e0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
}
.begin-inner-top button:hover {
  background-color: #e0e0e0;
}

.test-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.test-inner-top {
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: max-content;
  font-size: 1rem;
  border: 1px solid #e0e0e0;
}

.test-inner-top button {
  margin: 1rem 1rem 0 0;
  background-color: #f0f5fe;
  border: 1px solid #e0e0e0;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.test-inner-top button:hover {
  background-color: #e0e0e0;
}

.test-inner-top input {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block-start: 1rem;
}

.end-button {
  display: flex;
  justify-content: right;
  font-family: "Montserrat", sans-serif;
}

.end-button button {
  background-color: #f0f5fe;
  border: 1px solid #e0e0e0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Montserrat", sans-serif;
}
